<div>
  <ul class="thumbnails" >
    <li class="span3 shot" ng-repeat="category in categories">
      <div class="thumbnail">
        <a href="{{category.nextLink}}">
          <img ng-src="{{category.imageUrl}}">
        </a>
        <strong class="title">{{category.name}}</strong>


      </div>
    </li>
  </ul>
  
</div>
