<div>
	<ul class="thumbnails" >
		<li class="span3 shot" ng-repeat="product in products">
			<div class="thumbnail">
				<a href="#/products/{{product.productId}}" -->
					<img ng-src="{{ product.imageUrl }}"/>
				</a>

				<div class="stats">
					<strong class="title">{{product.name}}</strong>
				</div>
				
			</div>
		</li>
	</ul>
</div>
